$bgColor: #212121;
$textSecondaryColor: #cfd8dc;
$textPrimaryColor: white;
$space_xxs: 0.4rem;
$space_xs: 0.5rem;
$space_xl: 2rem;
$space_l: 1rem;

html, body {
  margin: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
