@import '../style/style-moudle.scss';

$appColorBg: #212529;
$appColorContent: white;
$appColorBtn: blue;

.home2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: $appColorBg;
  color: $appColorContent;

  .main-header {
    background-color: darkslategray;
    width: 100%;
    display: flex;
    justify-content: center;

    .header-wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 25px;
      width: 80%;
      color: gray;

      .left-header-wrap {
        display: flex;
        flex-direction: row;
        text-align: center;
      }

      .right-header-wrap {
        display: flex;
        flex-direction: row;
        text-align: center;

        .btn-lang {
          cursor: pointer;
          text-align: center;
          border: 1px solid $appColorBg;
          border-radius: 50%;
          background-color: white;
          color: blue;
          transition: all 1s ease-in-out;
          //width: 100%;
          position: relative;
          padding: 8px;
        }
/*
        .btn-inner {
          position: absolute;
          background-color: $appColorBtn;
          transition: all 1s ease-in-out;
          width: 0%;
        }

        .btn-lang:hover .btn-inner {
          width: 100%;
        }
*/
        .btn-lang:hover {
          background-color: $appColorBtn;
          color: white;
        }

      }

      .left-header-wrap>div {
        padding: 8px;
        transition: all 1s ease-in-out;

        &:hover {
          color: white;
        }
      }

      .right-header-wrap>div:not(:nth-child(6)) {
        padding: 8px;
        transition: all 1s ease-in-out;

        &:hover {
          color: white;
        }
      }
    }
  }
}