@import '../style/style-moudle.scss';

$appColorBg: white;
$appColorContent: black;
$appColorBtn: blue;

.home2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: $appColorBg;
  color: $appColorContent;

  .js-link {
    color: lightgray;
    text-decoration: none;

    &:hover {
      color: white;
    }
  }

  .title-font-size {
    font-size: 1.8rem;
  }

  .content-font-size {
    font-size: 1rem;
  }

  .main-header {
    background-color: #2575fc;
    width: 100%;
    display: flex;
    justify-content: center;

    .header-wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 25px;
      width: 80%;
      color: lightgray;
      font-weight: bold;

      .left-header-wrap {
        display: flex;
        flex-direction: row;
        text-align: center;
      }

      .right-header-wrap {
        display: flex;
        flex-direction: row;
        text-align: center;

        .btn-lang {
          cursor: pointer;
          text-align: center;
          border: 1px solid $appColorBg;
          border-radius: 50%;
          background-color: white;
          color: blue;
          transition: all 1s ease-in-out;
          //width: 100%;
          position: relative;
          padding: 8px;

          #lang-en {
            display: none;
          }
        }

        /*
        .btn-inner {
          position: absolute;
          background-color: $appColorBtn;
          transition: all 1s ease-in-out;
          width: 0%;
        }

        .btn-lang:hover .btn-inner {
          width: 100%;
        }
*/
        .btn-lang:hover {
          background-color: $appColorBtn;
          color: white;
        }
      }

      .left-header-wrap > div {
        padding: 0.5rem 1rem;
        transition: all 1s ease-in-out;

        &:hover {
          color: white;
        }
      }

      .right-header-wrap > div:not(:nth-child(6)) {
        padding: 0.5rem 1rem;
        transition: all 1s ease-in-out;

        &:hover {
          color: white;
        }
      }
    }
  }

  .main-sreen {
    height: 60%;
  }

  .js-banner {
    width: 100%;
    background-color: #2575fc;
    display: flex;
    align-items: center;
    justify-content: center;

    .js-banner-content {
      font-weight: bold;
      color: white;
    }
  }

  #services {
    background-color: white;
    color: black;
  }

  #about {
    background-color: #2575fc;
    color: white;
  }

  .main-cotent {
    padding: 5% 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    align-items: center;
  }

  hr {
    max-width: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: #2575fc;
    //height: 3px;
    //color: #2575fc;
    //overflow: visible;
  }

  .bg-light {
    background-color: white;
    color: black;
  }

  .hr-color-light {
    border-color: #2575fc;
  }

  .hr-color-light {
    border-color: white;
  }

  .bg {
    background-color: #2575fc;
    color: white;
  }

  .btn-next {
    cursor: pointer;
    text-align: center;
    border: 1px solid $appColorBg;
    border-radius: 50%;
    background-color: #2575fc;
    color: black;
    padding: 1rem 2rem;
  }

  .container {
    padding: 1rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .container-row {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 1%;
    transition: all 1s;

    &:hover {
      transform: scale(1.2);
    }
  }
}
